name: Dispatch update
on:
  push:
    branches:
      - main

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - run: |
          curl \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.DISPATCH_TOKEN }}" \
            "https://api.github.com/repos/traP-jp/plutus-examples/dispatches" \
            -d '{ "event_type": "update" }'
